<%= render 'astro/navbar' %>
<%= stylesheet_link_tag 'custom', media: 'all' %>
<%= render 'shared/flash_messages' %> 
<div class="row">
<h1 class="col-xs-10 col-xs-offset-1">Our Posts</h1>
<%#= link_to "New Article",new_article_path,class: "btn btn-success col-xs-2" %>
</div>
<% @posts.each do |post| %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-1">
        <div class="well well-lg">
            <div class="article-title">
                <h2><%=link_to post.title,post  %></h2>
            </div>
            <div class="article-body">
              <%=truncate(post.body,length: 300)  %>
            </div>

      <%#= link_to "Edit",edit_article_path(a), class: "btn btn-primary btn-xs" %>
     <%#= link_to "Delete This Article",article_path(a),method: :delete,data: {confirm: "Are You Sure To Delete This Article ?"},class: "btn btn-danger btn-xs"  %>
        </div>
    </div>
</div>
  <% end %>
<%= render 'astro/footer' %>
    